* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #23242C;
}

.content {
    height: 240px;
    width: 90%;
    margin: 2% 5% 0% 5%;
    border-radius: 10px;
    background-color: #333945;
}

.find,
.title {
    color: #ffffff;
    padding: 0%;
}

.find {
    text-align: end;
    font-size: 2em;
    color: #E56553;
    margin: 0% 3% 0% 0%;
    font-family: sans-serif;
}

.companyName,
.profile {
    font-size: 1em;
    font-family: sans-serif;
    color: #DAE0E2;
    margin: 1% 2% 0% 2%;
}

.companyName {
    font-size: 1.2em;
}

.map {
    color: #FF3031;
    font-size: 1em;
    margin: 1% 0% 0% 2%;
}

.cities,
.skill,
.experienceInYears,
.lastDate {
    color: #DAE0E2;
    font-family: sans-serif;
}

.grad {
    color: #F4C724;
    font-size: 1em;
    margin: 0% 0% 0% 2%;
}

.experience {
    color: #DAE0E2;
    font-size: 1em;
    margin: 0% 0% 0% 2%;
}

.calender {
    color: #E8290B;
    font-size: 1em;
    margin: 0% 0% 0% 2%;
}

.applyButton {
    float: right;
}

.bookmark {
    float: left;
    font-size: 2em;
}

.action {
    margin: 2% 0% 1% 0%;
    border-top: 2px solid #DAE0E2;
}

.bookmark {
    margin: 1% 3% 1% 3%;
}

.applyButton {
    margin: 0.5% 3% 1% 3%;
}

.navBar {
    margin: 2% 0% 2% 0%;
    justify-content: center;
}

.resultCount {
    color: #E56553;
    font-size: 1.5em;
    text-align: right;
}

.relevant {
    font-family: sans-serif;
    margin: 0% 5% 0% 0%;
}

.sort,
.filter,
.search {
    cursor: pointer;
}

.sort:hover,
.filter:hover,
.search:hover {
    color: #FF3031;
}