body {
    background-color: #23242C;
}

.content {
    justify-content: center;
}

.experience,
.location,
.skill {
    margin: 5% 0% 5% 5%;
    color: #ffffff;
    font-family: sans-serif;
    cursor: pointer;
}

.skill {
    margin: 5% 5% 5% 5%;
}

.experience:hover {
    color: #E56553;
}

.location:hover {
    color: #E56553;
}

.skill:hover {
    color: #E56553;
}

.searchBar {
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.searchInput {
    border-radius: 50px;
    width: 350px;
    height: 40px;
    outline: none;
    border: none;
    padding: 2%;
    margin: 0% 0% 0% 0%;
}

.findButton {
    /* height: 40px; */
    width: 100px;
    outline: none !important;
    border: none;
    border-radius: 50px;
    margin: 0% 0% 0% 3%;
    padding: 1%;
    background-color: #E56553;
    color:#ffffff;
    cursor: pointer;
}

