* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #23242C;
}

.sort,.filter {
    height: 100vh;
    text-align: center;
    color: #E56553;
    font-size: 1.5em;
}

ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 3;
    list-style-type: none;
}

.locations,
.experience,.company {
    cursor: pointer;
}


.searchBar {
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.searchInput {
    border-radius: 50px;
    width: 350px;
    height: 40px;
    outline: none;
    border: none;
    padding: 2%;
    margin: 0% 0% 0% 0%;
}

.findButton {
    /* height: 40px; */
    width: 100px;
    outline: none !important;
    border: none;
    border-radius: 50px;
    margin: 0% 0% 0% 3%;
    padding: 1%;
    background-color: #E56553;
    color: #ffffff;
    cursor: pointer;
}