* {
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
}
.content{
    height: 100vh;
}

.imageContainer {
    padding: 0%;
    margin: 0%;
}

.image {
    object-fit: contain;
    margin: 25% 0% 0% 0%;
}

.formContainer {
    margin: 12% 0% 0% 15%;
}

.loginContainer{
    margin: 15% 0% 0% 15%;
}

.buttonContainer {
    margin: 5% 0% 5% 0%;
}

